html {
  background-color: #e4e9fd;
  background-image: -webkit-linear-gradient(65deg, #a683e3 50%, #e4e9fd 50%);
  min-height: 1000px;
  font-family: "helvetica neue";
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.today {
  width: 400px;
  height: 50px;
  background-color: #a683e3;

  font-size: 20px;
  color: white;
  border-radius: 8px;

  display: flex;
  align-items: center;
  justify-content: center;
}

.add {
  background-color: #a683e3;
  color: white;
  border: none;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  font-size: 24px;
  cursor: pointer;

  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

button.edit, button.editdone {
  margin-left: 0px;
  margin-right: 20px;
  border: none;
  background: none;
}

.icon {
  height: 20px;
}

.items {
  display: flex;
  flex-direction: row;
  align-items: center;
}

::placeholder {
  color: #c5aded;
}

input[name="todoItem"] {
  padding: 10px;
  width: 70%;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 8px;
  outline: none;
  margin-right: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: border 0.3s ease, box-shadow 0.3s ease;
}

.list-items {

  gap: 10px;
  margin: 15px 5px;
  font-size: 18px;
  color: #2c2c2c;
}

input[type="checkbox"] {
  width: 18px;
  height: 18px;
  accent-color: #a682e3;
}